<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.ajax4jsf.org/rich"
	xmlns:a="https://ajax4jsf.dev.java.net/ajax"
	template="layout/studyDetailLayout.xhtml">

	<ui:define name="content">

		<div id="blatt">
		<h:form id="PatientsViewerForm">

			<h:messages globalOnly="false" errorClass="errorMessage"
				fatalClass="errorMessage" infoClass="infoMessage"
				warnClass="warningMessage" layout="list" showDetail="true"
				showSummary="true" />

			<b><h:outputText value="#{messages['label.patients']}" /></b>
			<div class="info">
				<h:outputText value="#{messages['patients.info']}" />
			</div>
			<p>
				<h:outputText id="searchLabel" value="#{messages['label.search']}: " /> 
				<h:inputText id="searchField" value="#{ViewPatients.searchString}">
					<a:support event="onkeyup" action="#{ViewPatients.findPatient}" reRender="ViewPatientsPanel" />
				</h:inputText>
				<rich:spacer width="5px" />
				<a:commandButton id="searchButton" title="#{messages['button.reset']}" value="x" action="#{ViewPatients.resetSearchString}" reRender="PatientsViewerForm" />
				<br />
			</p>
			<br />
			
			<a:outputPanel id="ViewPatientsPanel">
			<s:fragment id="ViewPatientsNoResultView"
				rendered="#{patientsDataModel.rowCount == 0}">
				<h:outputText value="#{messages['nopatients.info']}" />
			</s:fragment>
			<s:fragment id="ViewPatientsShowResultsView"
				rendered="#{patientsDataModel.rowCount > 0}">
				<rich:dataTable id="patientViewerTable" var="currentPatient" value="#{patientsDataModel}" rows="#{ViewPatients.ROW_COUNT}" cellpadding="0" cellspacing="0" >
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column><h:outputText value="" /></rich:column>
							<rich:column><h:outputText value="#{messages['label.codenumber']}" /></rich:column>
							<rich:column><h:outputText value="#{messages['label.physician']}" /></rich:column>
							<rich:column><h:outputText value="#{messages['label.patientsince']}" /></rich:column>
							<rich:column><h:outputText value="#{messages['label.lastmodifiedAt']}" /></rich:column>
							<rich:column><h:outputText value="#{messages['label.completedtrials']}" /></rich:column>
							<rich:column><h:outputText value="" /></rich:column>
						</rich:columnGroup>
					</f:facet>
					
					<rich:column>
						<h:graphicImage value="graphics/icon/calendar.gif" rendered="#{ViewPatients.hasPatientAppointment(currentPatient.id)}" />
					</rich:column>
					<rich:column>
						<a:commandLink id="patientID" action="#{ViewPatients.editPatientTrialData}">
							<h:outputText value="#{currentPatient.kennnummer}" />
						</a:commandLink>	
					</rich:column>
					<rich:column><h:outputText value="#{currentPatient.savedBy.screenname}" /></rich:column>
					<rich:column><h:outputText value="#{currentPatient.registrationDate}" /></rich:column>
					<rich:column>
						<h:outputText value="#{patientDAO.getLastModified(currentPatient)}" >
							<s:convertDateTime type="both" pattern="#{messages['dateformat']} #{messages['timeformat']}" />
						</h:outputText>
					</rich:column>
					<rich:column><h:outputText value="#{trialDataDAO.getCountByPatient(currentPatient)}" /></rich:column>
					<rich:column>
						<a:commandLink id="patientEdit" action="#{ViewPatients.editPatientTrialData}">
							<h:outputText value="#{s:hasPermission(currentPatient, 'editPatient') ? messages['label.edit'] : messages['button.view']}" />
						</a:commandLink>
					</rich:column>
				</rich:dataTable>
				<rich:datascroller for="patientViewerTable" maxPages="#{ViewPatients.MAX_PAGES}" page="#{ViewPatients.page}" />
			</s:fragment>
			</a:outputPanel>
			<br />
			<br />
			
			<b><h:outputText value="#{messages['label.addpatient']}" /></b>
			<br/>
			<h:outputText id="addPatientLabel" value="#{messages['label.codenumber']}: " />
			<h:inputText id="addPatientTF" value="#{ViewPatients.addPatientID}" />
			
			<h:commandButton id="createPatientBtn" styleClass="button"
				title="#{messages['button.add']}" value="#{messages['button.add']}"
				action="#{ViewPatients.createPatient}" />
		</h:form>
		</div>

	</ui:define>

</ui:composition>

